<a href="https://colab.research.google.com/github/hendradra1234/algoritma-dan-struktur-data/blob/main/hendra_2322510009_Algoritma_dan_Struktur_Data_(Latihan).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

susunlah pseduocode untuk menginput 1 buah nilai, kemudian tampilkan kata "Algo" sebanyak nilai yang di input:

contoh:
1. Algo
2. Algo
3. Algo

**PSEUDOCODE**
>     INPUT "masukkan nilai perualangan", r
    i = 1
    WHILE i <= r
      OUTPUT "{i + 1}. Algo"
      i += 1

In [ ]:
r = int(input('Masukkan nilai perualangan: '))
i = 1
while i <= r:
  print(f"{i}. Algo")
  i += 1

Masukkan nilai perualangan: 5
1. Algo
2. Algo
3. Algo
4. Algo
5. Algo

susunlah pseduocode untuk menginput 4 buah bilangan kemudian tampilkan yang terbesar, gunakan pengulangan.

**PSEUDOCODE**

>     INPUT "Masukkan nilai 1", r1
    INPUT "Masukkan nilai 2", r2
    INPUT "Masukkan nilai 3", r3
    INPUT "Masukkan nilai 4", r4
    arr = [r1, r2, 33, r4]
    sort = arr[0]
    for i in arr
      if i > sort:
        sort = 1
    OUTPUT 'Biggest Number on this list: ', sort

In [ ]:
r1 = int(input('Masukkan nilai 1: '))
r2 = int(input('Masukkan nilai 2: '))
r3 = int(input('Masukkan nilai 3: '))
r4 = int(input('Masukkan nilai 4: '))

arr = [r1, r2, r3, r4]

sort = arr[0]
for i in arr:
  if i>sort:
    sort = i

print('Biggest Number on this list: ', sort)

Masukkan nilai 1: 10
Masukkan nilai 2: 30
Masukkan nilai 3: 50
Masukkan nilai 4: 70
Biggest Number on this list:  70

susunlah pseduocode untuk menampilkan
> 11111

> 22222

> 33333

> 44444

**PSEUDOCODE**

>     for i = 0 TO 5
        for k = 1 TO 5
       OUTPUT i, end= ' '
    OUTPUT ''

In [ ]:
for i in range(1, 5):
  for k in range(1, 5):
    print(i, end= " ")
  print()

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

susunlah pseduocode untuk menampilkan:
> 1

> 12

> 123

> 1234

**PSEUDOCODE**

>     for i = 1 TO 5
      for j = 1 TO i
        OUTPUT j, end = " "
      OUTPUT i

In [ ]:
for i in range(1, 5):
  for j in range(1, i):
      print(j, end = " ")
  print(i)

1
1 2
1 2 3
1 2 3 4